# Series ()
Section6 - L26 
> Series syntax -pd.Series(data, index=[]) > Series operations > Series with different data types > Series indexing > Series , arrays/list difference - Series can handle multiple data type

In [ ]:
%config IPCompleter.greedy=True
import numpy as np 
import pandas as pd

lists = ['a','b','c']
data = [10,20,30]
array_data = np.array(data)
dicts= {'a':1,'b':2, 'c':3}
indexed = [1,2,3]

series_lists = pd.Series(lists)
print('Series list - default indexing\n',series_lists)
series_lists = pd.Series(data=lists, index=['a1','b1','c1'])
print('Series list - custom indexing\n', series_lists)
series_lists = pd.Series(lists, indexed)
print('Series list - indexed\n',series_lists)
series_array = pd.Series(array_data)
print('Array', array_data)    # [10,20,30]
print('Series array', series_array) # comes with index default 

series_dict = pd.Series(dicts)
print('Dict series', series_dict)  # key comes as the index values 


series_ops1 = pd.Series([1,2,3,4], ['US','UK','DE','JA'])
series_ops2 = pd.Series([1,2,3,4], ['US','UK','IT', 'FR'])

series_ops = series_ops1 + series_ops2
print(series_ops)


# Series indexing 
print(series_ops1['UK'])   # use the index to get the values 
series_check = pd.Series()

# DataFrames1 
Section6 - L27 
> DataFrame - syntax pd.DataFrame(data, index, col) > type() keyword > Multiple Series data results in the DataFrame 
> drop() keyword> inplace arg  > create new col on ops on existing cols 
>axis =0 row axis =1 columns > selecting rows - loc(labelbased), iloc keyword(integerbased) 
> selecting columns 
>.loc keyword for subsetting DataFrame

In [2]:
import numpy as np 
import pandas as pd 
from numpy.random import randn    # to initialise data values for the dataframe 

np.random.seed(101)
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'], ['W','X','Y','Z'])
print('DataFrame')
print(df)

print('printing the column W')
print(df['W'])

type(df)   # data frame 
type(df['X']) # Series 


print('printing 2 columns X, Y')
print(df[['X','Y']])
type(df[['X','Y']])

# creating a new column in dataframe 
df['Y+Z'] = df['Y'] + df['Z']
print(df)

# dropping the column - use the axis to mention whether row or column is dropped 
print(df.drop('Y+Z', axis=1))  # column drop 
print(df.drop('A', axis=0)) # row drop 
print(df)

# dropping the row, column - Inplace keyword to reflect the change in place 
# lets drop Y +Z in place 
df.drop('Y+Z', axis =1 , inplace= True )
print('Drop after inplace keyword')
print(df)


# keyword loc - label based  , iloc - integer based 
# loc, iloc for displaying rows, columns  
print(df.loc['A'])  # displays the A row 

print(df.loc[['B','C']]) # displays the B , C row 

print(df.iloc[0])  # displays A row 

print(df.iloc[[0,1]])   # displays A, B row 

#  for columns just use []
print(df[['X','Y']]) # displays X, Y column 

# subsetting a dataframe 
print(df.loc['A','X'])
print(df.loc[['A','B'],['X','Y']])  # 0.628133 0.907969
                                    # -0.31931 -0.848077

DataFrame
          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509
printing the column W
A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64
printing 2 columns X, Y
          X         Y
A  0.628133  0.907969
B -0.319318 -0.848077
C  0.740122  0.528813
D -0.758872 -0.933237
E  1.978757  2.605967
          W         X         Y         Z       Y+Z
A  2.706850  0.628133  0.907969  0.503826  1.411795
B  0.651118 -0.319318 -0.848077  0.605965 -0.242112
C -2.018168  0.740122  0.528813 -0.589001 -0.060187
D  0.188695 -0.758872 -0.933237  0.955057  0.021819
E  0.190794  1.978757  2.605967  0.683509  3.289476
          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509
          W         X         Y         Z       Y+Z
B  0.651118 -0.319318 -0.848077  0.605965 -0.242112
C -2.018168  0.740122  0.528813 -0.589001 -0.060187
D  0.188695 -0.758872 -0.933237  0.955057  0.021819
E  0.190794  1.978757  2.605967  0.683509  3.289476
          W         X         Y         Z       Y+Z
A  2.706850  0.628133  0.907969  0.503826  1.411795
B  0.651118 -0.319318 -0.848077  0.605965 -0.242112
C -2.018168  0.740122  0.528813 -0.589001 -0.060187
D  0.188695 -0.758872 -0.933237  0.955057  0.021819
E  0.190794  1.978757  2.605967  0.683509  3.289476
Drop after inplace keyword
          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509
W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64
          W         X         Y         Z
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64
          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
          X         Y
A  0.628133  0.907969
B -0.319318 -0.848077
C  0.740122  0.528813
D -0.758872 -0.933237
E  1.978757  2.605967
0.6281327087844596
          X         Y
A  0.628133  0.907969
B -0.319318 -0.848077

# DataFrames2 
Section 6 - L28 
> conditional selection dataframe > 0 => true or false  
> Subsetting dataframes in multiple/single step > & , | operators > returning values from boolean conditioning for rows 
> reset_index- inplace needed > 
> set_index

In [3]:
# boolean conditioning 
print('Dataframe df')
print(df) # the created dataframe 
print('-------------------------------------------------')

print('Dataframe df df>0', df>0) # conditional boolean 
print('-------------------------------------------------')

# accessing columns with boolean condition 
print('bool condition W>0')
bool_df1 = df['W']>0  # check the column W for elements > 0 
print(df[bool_df1])
print('-------------------------------------------------')

 # check columns X, Y for elements > 0
print('bool condition X,Y > 0')
print(df[df[['X', 'Y']]>0])
print('-------------------------------------------------')

# accessing rows with boolean conditioning 
print('Access A row')
print(df.loc['A']) # accessing A row 
print('-------------------------------------------------')

print('Access A, B row')
print(df.loc[['A', 'B']]) # accessing A and B row 
print('-------------------------------------------------')

print('Access B row > 0')
bool_df2 = df.loc['A']>0 # check A row > than 0 
print(df.loc['B'][df.loc['B']>0]) # accessing B row with elements > 0

# checking 2 rows with elements > 0 
print('Access A, B row > 0')
print(df.loc[['A','B']][df.loc[['A', 'B']]>0])
print('-------------------------------------------------')

# Operators & , |
print('& op X & Y col >0')
bool_df3 = (df['X'] > 0) & (df['Y'] > 0) 
print(df[bool_df3])
print('-------------------------------------------------')

print('| op W |Y >0')
bool_df4 = (df['W'] >0 ) | (df['Z'] > 0)
print(df[bool_df4])
print('-------------------------------------------------')

# Dataframe accessing an element 
df.loc['A','W']   # 2.706850
df.loc[['A','B'],['X','Y']] 
# 	   X	           Y
# A	  0.628133	       0.907969
# B	- 0.319318	-      0.848077
print('-------------------------------------------------')

Dataframe df
          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509
-------------------------------------------------
Dataframe df df>0        W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True
-------------------------------------------------
bool condition W>0
          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509
-------------------------------------------------
bool condition X,Y > 0
    W         X         Y   Z
A NaN  0.628133  0.907969 NaN
B NaN       NaN       NaN NaN
C NaN  0.740122  0.528813 NaN
D NaN       NaN       NaN NaN
E NaN  1.978757  2.605967 NaN
-------------------------------------------------
Access A row
W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64
-------------------------------------------------
Access A, B row
          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
-------------------------------------------------
Access B row > 0
W    0.651118
Z    0.605965
Name: B, dtype: float64
Access A, B row > 0
          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
-------------------------------------------------
& op X & Y col >0
          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
C -2.018168  0.740122  0.528813 -0.589001
E  0.190794  1.978757  2.605967  0.683509
-------------------------------------------------
| op W |Y >0
          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509
-------------------------------------------------
-------------------------------------------------

In [4]:
# reset_index, set_index - inplace needs to be set true 
# set_index , reset_index keywords 
stateindex = 'CA OR NY MI II'.split()
df['States'] = stateindex
print(df.set_index('States'))
print('-------------------------------------------------')
print(df)
print('--------------------------------------------------')
print(df.reset_index())  # replaces the old index column and creates new column for the old index

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
OR      0.651118 -0.319318 -0.848077  0.605965
NY     -2.018168  0.740122  0.528813 -0.589001
MI      0.188695 -0.758872 -0.933237  0.955057
II      0.190794  1.978757  2.605967  0.683509
-------------------------------------------------
          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     OR
C -2.018168  0.740122  0.528813 -0.589001     NY
D  0.188695 -0.758872 -0.933237  0.955057     MI
E  0.190794  1.978757  2.605967  0.683509     II
--------------------------------------------------
  index         W         X         Y         Z States
0     A  2.706850  0.628133  0.907969  0.503826     CA
1     B  0.651118 -0.319318 -0.848077  0.605965     OR
2     C -2.018168  0.740122  0.528813 -0.589001     NY
3     D  0.188695 -0.758872 -0.933237  0.955057     MI
4     E  0.190794  1.978757  2.605967  0.683509     II

# DataFrames 3 
Section 6 - L29
> Multi index > index.names keyword > indexing a multi level dataframe > cross section xs - level >

In [5]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))  # results in a tuple between inside and outside 
hier_index = pd.MultiIndex.from_tuples(hier_index) # inbuilt 
print(hier_index)
print('--------------------------------------------------')

# assingning the dataframe 
df_multi = pd.DataFrame(randn(6,2), hier_index, columns=['A','B'])
print(df_multi)
print('--------------------------------------------------')

# accessing elements 
print(df_multi.loc['G1'].loc[1]['A'])   # 0.30266

# index.names keywords
df_multi.index.names = ['Groups','Num']
print(df_multi)
print('--------------------------------------------------')

# cross section - with level
# xs keyword, level 
print(df_multi.xs('G1'))
print('--------------------------------------------------')

print(df_multi.xs(1, level='Num'))

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           codes=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])
--------------------------------------------------
             A         B
G1 1  0.302665  1.693723
   2 -1.706086 -1.159119
   3 -0.134841  0.390528
G2 1  0.166905  0.184502
   2  0.807706  0.072960
   3  0.638787  0.329646
--------------------------------------------------
0.3026654485851825
                   A         B
Groups Num
G1     1    0.302665  1.693723
       2   -1.706086 -1.159119
       3   -0.134841  0.390528
G2     1    0.166905  0.184502
       2    0.807706  0.072960
       3    0.638787  0.329646
--------------------------------------------------
            A         B
Num
1    0.302665  1.693723
2   -1.706086 -1.159119
3   -0.134841  0.390528
--------------------------------------------------
               A         B
Groups
G1      0.302665  1.693723
G2      0.166905  0.184502

# Missing data 
Section 6 - L30
> dropna keyword , thresh, axis 
> fillna keyword 

# Groupby 
Section 6 - L31
>groupby keyword > aggregate functions > describe

In [42]:

%config IPCompleter.greedy=True
dict_nan = {'A':[1,2,np.nan], 'B':[5,np.nan, np.nan], 'C':[1,2,3]}
dict_nan['A']
dictnan_df = pd.DataFrame(dict_nan)
print('Dictionary Dataframe\n', dictnan_df)
print('--------------------------------------------------')

# drop nan rows  
print('Drop nan rows\n',dictnan_df.dropna())  # axis =0 default - rows 
print('--------------------------------------------------')

# dropna deep 
print('Drop nan columns\n',dictnan_df.dropna(axis=1))  # axis =1 columns
print('--------------------------------------------------')

# dropna thresh
# threshold for the number of not nan values 
print('Thresh rows\n',dictnan_df.dropna(thresh=2))  # drops rows with < 2 not nan values 
print('--------------------------------------------------')

# dropna thresh columns 
print('Thresh columns\n', dictnan_df.dropna(axis=1, thresh=2))

# fillna keyword 
print('Fill nan values\n', dictnan_df.fillna(value = 'fill'))
print('Fill nan with mean col values\n',dictnan_df.fillna(value=dictnan_df[['A','B']].mean()))
print('--------------------------------------------------')

# Groupby 

data_groupie = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
                'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
                'Sales':[200,120,340,124,243,350]}
dataframe_groupie = pd.DataFrame(data_groupie)
print('Dataframe\n',dataframe_groupie)

# lets groupby and aggregate 
# groupby - company and find the sum of their sales 
print('Groupby company and sum their sales')
print(dataframe_groupie.groupby('Company').sum())

print('Groupby company and max sales of the company')
print(dataframe_groupie.groupby('Company').max())
print('--------------------------------------------------')

# groupby describe - keyword 
print('Describe groupby\n',dataframe_groupie.groupby('Company').describe())
print('--------------------------------------------------')
print('Transposed Describe groupby\n', dataframe_groupie.groupby('Company').describe().transpose())
print('--------------------------------------------------')

Dictionary Dataframe
      A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3
--------------------------------------------------
Drop nan rows
      A    B  C
0  1.0  5.0  1
--------------------------------------------------
Drop nan columns
    C
0  1
1  2
2  3
--------------------------------------------------
Thresh rows
      A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
--------------------------------------------------
Thresh columns
      A  C
0  1.0  1
1  2.0  2
2  NaN  3
Fill nan values
       A     B  C
0     1     5  1
1     2  fill  2
2  fill  fill  3
Fill nan with mean col values
      A    B  C
0  1.0  5.0  1
1  2.0  5.0  2
2  1.5  5.0  3
--------------------------------------------------
Dataframe
   Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350
Groupby company and sum their sales
         Sales
Company
FB         593
GOOG       320
MSFT       464
Groupby company and max sales of the company
          Person  Sales
Company
FB         Sarah    350
GOOG         Sam    200
MSFT     Vanessa    340
--------------------------------------------------
Describe groupby
         Sales
        count   mean         std    min     25%    50%     75%    max
Company
FB        2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG      2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT      2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0
--------------------------------------------------
Transposed Describe groupby
 Company              FB        GOOG        MSFT
Sales count    2.000000    2.000000    2.000000
      mean   296.500000  160.000000  232.000000
      std     75.660426   56.568542  152.735065
      min    243.000000  120.000000  124.000000
      25%    269.750000  140.000000  178.000000
      50%    296.500000  160.000000  232.000000
      75%    323.250000  180.000000  286.000000
      max    350.000000  200.000000  340.000000
--------------------------------------------------

# Merging , Joining and concatenating 
section6 - L32 
> concatenation - pd.concat - glues the dataframes along cols and rows - axis 
> size of the dataframes should match 

> merge - pd.merge keyword - merge/join based on a common column 
> inner(precise match), outer(left and right checked - no match NaN) , left(left data checked with all right data), right merge (right data checked with all left data)

> Join - based on the index rather than the column

In [67]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7]) 
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])

print('The dataframes\n', df1,'\n', df2,'\n',df3,'\n')

print('Concatenate rowise\n', pd.concat([df1,df2,df3]))
print('--------------------------------------------------')
print('Concatenate colwise\n', pd.concat([df1,df2,df3], axis=1))
# print('Fillna\n', pd.concat([df1,df2,df3],axis=1).fillna(value='FNA'))
print('--------------------------------------------------')

# merge 

left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})  

print(left,'\n',right)
print('--------------------------------------------------')
print('Merge based on the common column key')
print(pd.merge(left, right, how='inner', on='key'))
print('--------------------------------------------------')
# complex merging 

left_m = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
    
right_m = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                               'key2': ['K0', 'K0', 'K0', 'K0'],
                                  'C': ['C0', 'C1', 'C2', 'C3'],
                                  'D': ['D0', 'D1', 'D2', 'D3']})

print(left_m,'\n', right_m)
print('--------------------------------------------------')
print('Inner merge') # outputs conditions that matches exactly - no non matching records at all
print(pd.merge(left_m,right_m,how='inner', on=['key1', 'key2'])) 
print('--------------------------------------------------')
print('Outer merge') # outputs results that didnt match the condition also 
print(pd.merge(left_m,right_m,how='outer', on=['key1','key2'])) 
print('--------------------------------------------------')
print('Right merge') # output results - preference to the right table -outputs records matching right table
print(pd.merge(left_m, right_m, how='right', on=['key1', 'key2']))
print('--------------------------------------------------')
print('Left merge') # output results -preference to the left table-outputs records matching left table
print(pd.merge(left_m,right_m,how='left', on=['key1','key2']))
print('--------------------------------------------------')


# JOIN 
left_j = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

right_j = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])


print(left_j,'\n', right_j)
print('--------------------------------------------------')
print('Inner join\n', left_j.join(right_j, how='inner'))  # only matching indexes will be in output 
print('--------------------------------------------------')
print('Outer join\n', left_j.join(right_j, how='outer'))# both matching and non matching records in output
print('--------------------------------------------------')
print('Left join\n', left_j.join(right_j, how='left')) # check the left table records for matches 
# if not NaN for the left records - unmatched right records neglected 
print('--------------------------------------------------')
print('Right join\n', left_j.join(right_j, how='right')) # checks the right table records for matches in left 
# unmatched left table records neglected

The dataframes
     A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
     A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7
       A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

Concatenate rowise
       A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11
--------------------------------------------------
Concatenate colwise
       A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11
--------------------------------------------------
  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3
   key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3
--------------------------------------------------
Merge based on the common column key
  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3
--------------------------------------------------
  key1 key2   A   B
0   K0   K0  A0  B0
1   K0   K1  A1  B1
2   K1   K0  A2  B2
3   K2   K1  A3  B3
   key1 key2   C   D
0   K0   K0  C0  D0
1   K1   K0  C1  D1
2   K1   K0  C2  D2
3   K2   K0  C3  D3
--------------------------------------------------
Inner merge
  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2
--------------------------------------------------
Outer merge
  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K1   A3   B3  NaN  NaN
5   K2   K0  NaN  NaN   C3   D3
--------------------------------------------------
Right merge
  key1 key2    A    B   C   D
0   K0   K0   A0   B0  C0  D0
1   K1   K0   A2   B2  C1  D1
2   K1   K0   A2   B2  C2  D2
3   K2   K0  NaN  NaN  C3  D3
--------------------------------------------------
Left merge
  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN
--------------------------------------------------
     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2
      C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3
--------------------------------------------------
Inner join
      A   B   C   D
K0  A0  B0  C0  D0
K2  A2  B2  C2  D2
--------------------------------------------------
Outer join
       A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3
--------------------------------------------------
Left join
      A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2
--------------------------------------------------
Right join
       A    B   C   D
K0   A0   B0  C0  D0
K2   A2   B2  C2  D2
K3  NaN  NaN  C3  D3

# Operations 
section 6 - L33
> Operations applied on columns 
> nunique > value_counts > boolean conditioning > & , | > .apply() > len , lambda
> drop 
> .index > .columns 
> sort_values 
> .isnull()
> .pivot_table()
> .head - displays the first 5 rows 
> .corr() - correlation

In [121]:
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
print(df.head())   
print('--------------------------------------------------')
# finding unique vals 

print('Unique values\n', df['col2'].unique())
print('No of unique values\n', df['col2'].nunique())
print('Value counts\n', df['col2'].value_counts())
print('--------------------------------------------------')
# conditional selection 
# df_bool = df['col1']>2

print(df[df['col1']>2]) 
print('--------------------------------------------------')
# & | operators 

df_bool = df['col1'] > 2 
df[df_bool]

print(df[(df['col1']>2) & (df['col2']>444)])
print('--------------------------------------------------')

# .apply keyword - for func and lambda 
# broadcasts basically 

def broadcast(x):
    return x*2 

print('Apply on function\n',df['col1'].apply(broadcast))  # multiplies col1 with 2 
print('--------------------------------------------------')
print('Apply on lambda\n',df['col1'].apply(lambda x: x*2)) # same as above
print('--------------------------------------------------')
print('Apply on inbuilt\n',df['col3'].apply(len))   # 3 broadcasted for col3
print('--------------------------------------------------')

# drop keyword 

print(df.drop('col1', axis=1))
print('--------------------------------------------------')

# .columns, .index 

print(df.columns)
print(df.index)
print('--------------------------------------------------')

# sort 
print(df.sort_values('col2'))
print('--------------------------------------------------')

# null values 
print(df.isnull())
print('--------------------------------------------------')

# pivot table 

data = {'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}

df = pd.DataFrame(data)
print(df)
print('--------------------------------------------------')

print('Pivot table')
df.pivot_table(values='D', index=['A','B'], columns=['C'] )

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz
--------------------------------------------------
Unique values
 [444 555 666]
No of unique values
 3
Value counts
 444    2
555    1
666    1
Name: col2, dtype: int64
--------------------------------------------------
   col1  col2 col3
2     3   666  ghi
3     4   444  xyz
--------------------------------------------------
   col1  col2 col3
2     3   666  ghi
--------------------------------------------------
Apply on function
 0    2
1    4
2    6
3    8
Name: col1, dtype: int64
--------------------------------------------------
Apply on lambda
 0    2
1    4
2    6
3    8
Name: col1, dtype: int64
--------------------------------------------------
Apply on inbuilt
 0    3
1    3
2    3
3    3
Name: col3, dtype: int64
--------------------------------------------------
   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz
--------------------------------------------------
Index(['col1', 'col2', 'col3'], dtype='object')
RangeIndex(start=0, stop=4, step=1)
--------------------------------------------------
   col1  col2 col3
0     1   444  abc
3     4   444  xyz
1     2   555  def
2     3   666  ghi
--------------------------------------------------
    col1   col2   col3
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False
--------------------------------------------------
     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1
--------------------------------------------------
Pivot table

C          x    y
A   B
bar one  4.0  1.0
    two  NaN  5.0
foo one  1.0  3.0
    two  2.0  NaN

# Data input and output 
> Section 6 - L34 
> data sources - csv, excel , html , sql 
> .read keyword 
> .to 
> .info()

In [146]:
import pandas as pd 

# reading data - csv 

df_csv = pd.read_csv('example')
print('Dataframed csv\n', df_csv )

df_csv.to_csv('My_output', index=False)
pd.read_csv('My_output')

# reading data - excel 

df_xlsx = pd.read_excel('Excel_Sample.xlsx', sheet_name='Sheet1', index=False)
df_xlsx

df_xlsx.to_excel('Excel_Sample2.xlsx', sheet_name='NewSheet')
pd.read_excel('Excel_Sample2.xlsx', index=False)

# read html data

df_html = pd.read_html('https://www.fdic.gov/bank/individual/failed/banklist.html')
type(df_html) # list 
df_html[0]


# read sql data 
from sqlalchemy import create_engine   # create a sql engine 
engine = create_engine('sqlite:///:memory:')  # engine flavour in the memory  - the connection basically 

# using the df_csv data to convert it into a sql table 
df_csv.to_sql('my_sqltable', engine)
print('The Sql table in memory')
pd.read_sql('my_sqltable', con=engine)

Dataframed csv
     a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
The Sql table in memory

   index   a   b   c   d
0      0   0   1   2   3
1      1   4   5   6   7
2      2   8   9  10  11
3      3  12  13  14  15